.Checkoutbutton {
  margin-left: 90%;
}
.cartzero img{
  width: 38% ;
  padding: 3%;
  margin-left: 30%;
}
.cartzero h4{
  margin-left: 39%;
}
.cartzero p{
  margin-left: 32%;
}
.SEERESTAURANTS {
  background-color: #fc8019 !important;
  width: 20%;
  height: 40px;
  border-radius: 0px;
  color: white !important;
  font-weight: 500;
  font-size: small;
  margin-left: 38% !important;
}

@media (min-width: 600px) and (max-width: 850px) {
  .Checkoutbutton {
    margin-left: 87%;
  }
  .cartzero p{
    margin-left: 28%;
  }
  .SEERESTAURANTS {
    font-size: 8px;
    margin-left: 38% !important;
  }
  .cartzero h4{
    margin-left: 36%;
  }
  .cartzero p{
    margin-left: 25%;
  }
}
@media (max-width: 600px)  {
    .Checkoutbutton {
      margin-left: 71%;
    }
    .cartzero h4{
      margin-left: 32%;
      font-size: 14px;
    }
    .cartzero p{
      margin-left: 18%;
      font-size: 10px;
    }
    .SEERESTAURANTS {
      font-size: 8px;
      width: 40%;
      margin-left: 31% !important;
      padding: 5px !important;
    }
  }
  